@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Josefin Sans", sans-serif;
  color: white;
  scroll-behavior: smooth;
}

body {
  background: rgb(34, 32, 33);
  background: linear-gradient(30deg, rgb(32, 6, 55) 0%, rgb(34, 32, 33) 100%);
}
